<div class="subject">
  <h1>Photos &nbsp&nbsp</h1>
  <h3><%= link_to "(click here to change to Json format)", "https://aqueous-ocean-76425.herokuapp.com/api/v1/photos.json?token=rtyT1ma8PMjVwelLt7j2IQtt" %></h3>
</div>
<hr>

<%= render @photos %>